/node_modules
/coverage
/zk/build_ow
/zk/build_rp

# next.js
/.next/
/out/

# production
/build

.DS_Store
*.pem
npm-debug.log*
.env*
.vercel
*.tsbuildinfo

next-env.d.ts

setup.md
/backup
zk/build_rp
zk/build_ow